/* BODY */
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    color: #ffff;
}
h2{
    display: inline-block;
}

.header{
    width: 100%;
    height: 30px;

}
.mt{
    margin-top:15px;
}
.pb{
    padding-bottom: 27px;
}
/* BODY END */


/* HEADER START */

.logo_box{
    width: 30%;
    background-color: rgb(252, 252, 130);
    color: black;
    display: inline-block;
    margin-left: 5px;
}
.header_box{
    width: 66%;
    background-color: rgb(235, 46, 156);
    display: inline-block;
}




/* HEADER END */



/* MAIN START */
.main{
    width: 100%;
    height: 20vh;
    
}
.sidebar{
    background-color: green;
    width: 30%;
    height: 100%;
    display: inline-block;
    float: left;
    margin-left: 5px;
    margin-right: 5px;

}
.main_middle{
    width: 40%;
    float: left;
   
}

.promo{
    display: inline-block;
    background-color: rgb(58, 58, 211);
    width: 100%;
    
}
.news{
    background-color: crimson;
    width: 39%;
}

.ads{
    background-color: orchid;
    width: 39%;
}

.content{
    width: 60%;
    background-color: orange;
    float: right;
    height: 12.7vh;
}

/* MAIN END */

/* ARTICLES START */

.gray{
    background-color: gray;
}
.yellow{
    background-color: yellow;

}
.green{
    background-color: green;
}
.articles{
    width: 26%;
    display: inline-block;
}
.article{
    margin-left: 10px;
}
/* ARTICLES END */