body {
    margin: 0;
    padding: 0;

}

.yellow {
    background-color: yellow;
}

.purple {
    background-color: purple;
}
.brown{
    background-color: brown;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.red {
    background-color: red;
}

.left {
    float: left;
}

.gray{
    background-color: gray;
}
.yellow{
    background-color: yellow;
}


.mxy {
    margin-right: 1%;
    margin-left: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
}


.text-white {
    color: white;
}


.logo {
    width: 28%;
    padding-bottom: 50px;
}

.header {
    width: 68%;
    padding-bottom: 50px;
}

h3 {
    margin-left: 2%;
}

.sidebar {
    width: 28%;
    height: 31vh;

}


.promo {
    
    padding: 15px;
}

.news {
    margin-top: 5px;
    width: 30%;
    padding: 20px;
    margin-right: 5px;
}


.main {
    width: 100%;
    display: inline-block;
}

.contents {
    width: 36%;
   
}

.ads{
    padding: 20px;
    width: 30%;
    margin-top: 5px;
}
.content{
    margin-top: 5px;
    width: 58%;
   padding: 15px;
   height: 175px;  
   float: right;
   margin-left: 5px;
 
}

.articles{
    width: 30%;
}

.article{
    padding: 15px;
   padding-bottom: 20px;
}

.mb{
    margin-bottom: 5px;
}

