/* MAIN PART */
* {
    margin: 0;
    padding: 0;
    border-radius: 6px;
}

body {
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    border: 1px solid #fff;
    width: 70%;
    height: 70%;
    padding: 1%;
}

/* MAIN PART */

/* HEADER */
.br-blue {
    background-color: rgb(1, 12, 105);
    border: 1px solid rgb(255, 255, 255);
}

.header {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.header_left {
    width: 10%;
    height: 90%;
}

.header_middle {
    width: 70%;
    height: 90%;
}

.header_right {
    width: 10%;
    height: 90%;
}

/* HEADER */

/* UPPER */
.upper {
width: 100%;
height: 25%;
display: flex;
justify-content: space-between;
}

.upper_left {
    width: 60%;
    height: 90%;
}

.upper_middle {
    width: 10%;
    height: 90%;
}

.upper_right {
    width: 15%;
    height: 90%;
}
/* UPPER */

/* LOWER */
.lower{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: space-between;
}
.lower_left{
    width: 10%;
    height: 90%;
}
.lower_middle{
    width: 15%;
    height: 90%;
}
.lower_right{
    width: 60%;
    height: 90%;
}
/* LOWER */

/* FOOTER */
.footer{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: space-between;
}
.footer_left{
    width: 15%;
    height: 90%;
}
.footer_middle_left{
    width: 10%;
    height: 90%;
}
.footer_middle{
    width: 15%;
    height: 90%;
}
.footer_middle_right{
    width: 10%;
    height: 90%;
}
.footer_right{
    width: 15%;
    height: 90%;
}
/* FOOTER */